


{% extends "base.html" %}
{% block title %}Home - Quiz Platform{% endblock %}
<p>Welcome, {{ user['username'] }} </p>

{% block content %}
    <h1 class="mb-4">Available Quizzes</h1>
    <div class="row">
        {% for quiz in quizzes %}
            <div class="col-md-6 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ quiz['title'] }}</h5>
                        <p class="card-text">{{ quiz['description'] }}</p>
                        <a href="{{ url_for('quiz.quiz_detail', quiz_id=quiz['id']) }}" class="btn btn-primary">Take Quiz</a>
                        <a href="{{ url_for('quiz.leaderboard', quiz_id=quiz['id']) }}" class="btn btn-outline-secondary">Leaderboard</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


</body>
